*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}
body, html
{
    background-attachment: fixed;
    height: 100vh;
}
.hero
{
    background-image: url(images/achtergrond.png);
    height: 100vh;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center;
}
nav
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 40px;
}
nav ul li
{
    list-style-type: none;
    display: inline-block;
    padding: 10px 35px;
}
nav ul li a
{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:hover
{
    color: #e78d04;
    transition: .3s
}
nav ul li a::after
{
    content: "";
    height: 2px;
    width: 0%;
    background-color: white;
    display: block;
    transition: .3s ease-in-out;
}
nav ul li a:hover::after
{
    content: "";
    height: 2px;
    width: 100%;
    background-color: white;
    display: block;
}
.leerdoelen
{
    text-shadow: 0px 0px 20px rgba(0,0,0,0.79);
}
.mezelf
{
    position: absolute;
    bottom: 0px;
    left: 200px;
}
.parallelogram 
{
    font-family: 'inter';
    font-weight: bold;
    font-size: 20px;
    position: absolute;
    left: 1100px;
    top: 370px;
    width: 260px;
    height: 80px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff7b00;
    transform: skewX(-20deg);
    color: white;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
  
.parallelogram:hover 
{
    box-shadow: none;
    transform: skewX(-20deg) translateY(3px);
    transition: .2s;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}
.naam
{
    text-decoration: none;
    color: white;
    font-family: "inter";
    font-size: 30px;
    text-shadow: 0px 0px 20px rgba(0,0,0,0.79);
    font-weight: bold;
    padding-bottom: 10px;
}
.selection-box {
    height: 260px;
    width: 260px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    transition: all 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selection-box:hover {
    transform: scale(1.1);
}

.selection-box img {
    max-width: 100%;
    height: auto;
}
.boxes
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:25px;
}